* {
    margin: 0;
}

body {
    font-family: 'Kaeun';
}

@font-face {
    font-family: 'Kaeun';
    src: url('./fonts/AGNextRegular.otf') format('truetype');
    font-weight: 200;
}

@font-face {
    font-family: 'Kaeun';
    src: url('./fonts/AGNextMedium.otf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Kaeun';
    src: url('./fonts/AGNextBold.otf') format('truetype');
    font-weight: bold;
}
